#wrap
    include header
    #main
        #gui
        //input(type='button', value='hello').btn.btn-primary
        canvas#cnvs
include footer
script(src='/vendor/dat.gui.min.js')
script(src='/js/gui.js')
script(src='/js/canvas.js')
script(src='/vendor/JS3.js')