#footer
    div Made by 
        a(href='http://twitter.com/braitsch') Stephen Braitsch
        &nbsp;-&nbsp; 
        a(href='http://github.com/braitsch/node-socket') Source on Github
    script(src='/socket.io/socket.io.js')    
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')