#wrap
    include header
    #main
        #form
            form.well.span4
                input(type='text', placeholder='connecting...')#out.span4
                input(type="button", value="Click Me!")#my-btn.btn.btn-primary                
include footer
script(src='/js/home.js')