footer_height = 40px

html, body 
    margin: 0
    padding: 0
    height: 100%
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none
    
#wrap 
    min-height: 100%

#header
    height:40px 
    background-color:#ddd
    
#connected
    float:right
    margin:11px 30px 0 10px
    
#main 
    overflow: auto
    padding-bottom: footer_height
    background-color: white

#gui
    position: absolute
    top 40px
    right 0

#footer
    position: relative
    height: footer_height
    margin-top: - footer_height
    background-color:#ddd  
    
#credit
    font-size: .9em    
    text-align: center
    padding-top: 10px
    
#nfnd
    padding:20px