
extends layout

block content
	#wrap
		include header
		#main
			canvas#cnvs
			#gui
	include footer

block scripts
	script(src='/socket.io/socket.io.js')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(src='/vendor/dat.gui.min.js')
	script(src='/js/gui.js')
	script(src='/js/canvas.js')
	script(src='/vendor/JS3.js')
