
extends layout

block content
	#wrap
		include header
		#main
			canvas#cnvs
			#gui
	include footer

block scripts
	script(src='/socket.io/socket.io.js')
	script(src='/vendor/jquery-2.1.0.min.js')
	script(src='/vendor/dat.gui.min.js')
	script(src='/js/canvas.js')
	script(src='/vendor/JS3.js')
